* {
    margin: 5px;
}
header{
    height:auto;
    background-color: bisque;
    border: solid black 5px;
    display: flex;
    
}
#nav{
    border: 2px solid black;
    width: 75%;
    display: flex;
    
}
#nav h3{
    border: 1px solid black;
    width: 100px;
    margin-left: 0px;
    display: flex;
}
main{
    height: auto;
    background-color: azure;
    border: solid black 5px;
}
main div{
    margin-top: 25px;
}
footer{
    height: 150px;
    background-color: beige;
    border: solid black 5px;
}
.art{
    border: 1px solid black;
    width: 50%;
    
    
}

#search{
    border: 3px solid black;
    height: auto;
}

